  <nav>
        <ul>
            <a href="/"> Home</a>
            <a href="/Beers"> Beers</a>
            <a href="/randombeers"> Random Beers</a>
        </ul>
    </nav>

<img src="images/beer.png" alt="Beer">
<a href="/Beers"> Check the Beers !</a>
<a href="/randombeers"> Check a random Beer!</a>
